<!doctype html>
<html lang="zh_CN">
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"></script>
        <script type="text/javascript" src="./js/baiduTemplate.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.0/marked.min.js"></script>
        <script type="text/coffeescript" src="./js/app.coffee"></script>

        <!-- Night mode //-->
        <!-- ./css/cyborg.min.css //-->
        <!-- Day mode //-->
        <link href="./css/flatly.min.css" rel="stylesheet" id="sty">
        <link href="./css/app.css" rel="stylesheet">
        <script type="text/javascript">
            var skirt = "flatly";
        </script>
        <title>Yangff's Library</title>
    </head>

    <body>
        <script type="text/html" id="tpl_well">
                <div class="art" id="art_<%=symbol%>">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 well well-lg">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="opener"><%=title%> <small class="text-right"><%=time%></small></h3>
                                    <div class="con heightauto"><%=decs%></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <% for (var i = 0; i < tags.length; i++){ %>
                                            <span class="label label-default">
                                                <span class="glyphicon glyphicon-tag"></span>
                                                <%=tags[i]%>
                                            </span>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </script>
        <div id="stage">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="/" class="navbar-brand">Library</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" data-toggle="change-skirt"><span class="glyphicon glyphicon-th-large"></span>换肤</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <center class="container">
                    <h1>Yangff 的资料库</h1>
                    <p>看! 野生的蒟蒻!</p>
                  <!--  <p>算法 · 数学</p>  //-->
                </center>
            </div>
            <div class="container" id="flow">

            </div>
        </div>
    </body>

</html>
